// === THEME ===
// Dark, Light, Default
$theme:  Default;

// client wise section utilities rendered 
// allowed clients blue-beans, rogers-rovers, pastry-pizza
$brand: rogers-rovers;
// ==== COLORS ====
$text-color: #222222;
$theme-color: #170a48;
$secondary-color: #f27731;
$ternary-color: #ccf962;
$link-color: $secondary-color;
$menu-item-color: #fff;
$body-background-color: #ffff;
$text-hover-color: #222222;

@if $theme == Dark {
    $body-background-color: #22222a;
    $text-color: #fff;
    $theme-color: #42424a;
    $secondary-color: #c24721;
    $ternary-color: #698932;
    $link-color: $secondary-color;
    $menu-item-color: #fff;
    $text-hover-color: #222222;
}@else if $theme == Light {
    $body-background-color: #fff;
    $text-color: #000;
    $theme-color: #372a27;
    $secondary-color: #d26741;
    $ternary-color: #b9da63;
    $link-color: $secondary-color;
    $menu-item-color: #fff;  
    $text-hover-color: #131010;
}


// ==== FONTS ====
$text-font: "Alegreya Sans", Arial, sans-serif;
$headline-font: 'Titllium Web', Georgia, serif;

// ==== SECTIONS SIZES ====
$content-width: 960px;
$header-height: 60px;
$footer-height: 90px;
$col: col-width($columns: 8);